<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <title>{{name}}</title>
</head>

<body class="container">
  <div>
    {{> navbar}}
  </div>

  <div class="landing-container">
    <div>
      <h1>Answer professional questions about yourself faster</h1>
      <div class="outline-box">
        <p id="box-text">What specifically interests you about the technical program manager role at Duolingo?</p>
      </div>
      <div class="buttons-container">
        <button class="buttons button-1">learn more</button>
        <button class="buttons button-2">sign up</button>
      </div>
    </div>
  </div>
</body>
</html>