<nav class="navbar">
  <div class="nav-box flex-box">
    <a href="/" id="name">Scrippt</a>
    <div class="push flex-box">
      <div class="nav-item">
        <a href="/about" class="nav-item">About</a>
      </div>
      <div class="nav-item">
        <a href="/contact" class="nav-item">Contact</a>
      </div>
      <div class="nav-item">
        <a href="/login" class="nav-item">Login</a>
      </div>  
      <div class="nav-item">
        <a href="/signup" class="nav-item">Sign Up</a>
      </div>
      
      
      
      
    </div>
  </div>
</nav>